/* Profile Css Start Here */
.profile_sec {
    padding: 60px 0;
}

.profile_sec .profile-details {
    background: #fff;
    padding: 50px 25px 25px;
    width: 100%;
}

.profile_sec .profile-details .profile-img {
    text-align: center;
    padding-bottom: 15px;
}

.profile-img figure img {
    width: 100%;
}

.profile_sec .profile-details .profile-name {

    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
}

.profile_sec .profile-details .profile-name h3 {
    font-weight: 500;
    font-family: "Work Sans";
    font-size: 25px;
    margin-bottom: 0;
}

.profile_sec .profile-details .profile-name p {
    font-family: "Work Sans";
    margin-bottom: 0;
    padding-bottom: 0;
}

.profile_sec .profile-details .profile-info .flexDv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 8px;
}

.profile_sec .profile-details .profile-about {
    padding-top: 20px;
}

.profile_sec .profile-details .profile-about h4.title {
    font-family: "Aileron";
    font-size: 18px;
    font-weight: 200;
    color: #000000;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
}

.profile_sec .profile-details .profile-about p {
    font-family: "Work sans";
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color: #000000;
}

.fa-play:before {
    font-size: 15px;
    margin-right: 10px;
    margin-top: -2px;
}

.name {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-container {
    width: 100%;
    padding-left: 51px;
    background: #fff;
    box-shadow: 0px 0px 10px #ddd;
    padding: 6px 57px 25px;
}

.form-container h3 {
    margin-top: 20px;
}

.name .form-control {
    width: 92%;
}

.problems .form-control {
    width: 66%;
}
.phone .form-control {
    width: 50%;
}
::placeholder {
    font-size: 13px;
}

label {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

@media (max-width: 768px) {
    .name {
        display: flex;
        flex-direction: column;
    }

    .form-control {
        width: 100%;
        resize: none;

    }

    .problems .form-control {
        width: 100%;
    }

    ::placeholder {
        font-size: 13px;
    }

    label {
        font-size: 13px;
        color: #000000;
        font-weight: 500;
    }
}

/* Profile Css End Here */


/* Post Css End Here */



































/* Post Css End Here */

/* Sidebar Css Start Here */
/* Sidebar Css End Here */

/* Forum Css End Here */